iot-gardening-station-node-red.json
[
    {
        "id": "df932c172bbbc3c7",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-1/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-1/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 344,
        "y": 487,
        "wires": [
            [
                "cc79021b.9a751",
                "21eae8f8.2971b8",
                "fed106f49d2b92cf"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "df932c172bbbc3c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 531,
        "y": 454,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-1/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 323,
        "y": 371,
        "wires": [
            [
                "22efa7b7.544a28",
                "77147396edee297b"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "df932c172bbbc3c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 520,
        "y": 338,
        "wires": []
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "df932c172bbbc3c7",
        "name": "",
        "label": "Water pump",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "df932c172bbbc3c7",
        "name": "",
        "group": "61285987.c20328",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature history",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#97df89",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b4d3ab21b536b767",
        "type": "mqtt in",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-1/moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "747f19c5bd7bdc85",
                "52d261579eeb9287",
                "05e4b3dce079b347"
            ]
        ]
    },
    {
        "id": "747f19c5bd7bdc85",
        "type": "debug",
        "z": "df932c172bbbc3c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "fed106f49d2b92cf",
        "type": "ui_text",
        "z": "df932c172bbbc3c7",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{value}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "77147396edee297b",
        "type": "ui_text",
        "z": "df932c172bbbc3c7",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air humidity",
        "format": "{{value}} %",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "52d261579eeb9287",
        "type": "ui_text",
        "z": "df932c172bbbc3c7",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soil moisture",
        "format": "{{value}} %",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "05e4b3dce079b347",
        "type": "ui_chart",
        "z": "df932c172bbbc3c7",
        "name": "",
        "group": "61285987.c20328",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Soil moisture history",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#3bd43d",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "41039e722cf4be71",
        "type": "mqtt out",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-2/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1460,
        "y": 620,
        "wires": []
    },
    {
        "id": "32cf987e2062cb16",
        "type": "mqtt in",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-2/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1244,
        "y": 467,
        "wires": [
            [
                "c75cf8d07e342c81",
                "9ab8ea895d73a025",
                "1f5c89723135b74b"
            ]
        ]
    },
    {
        "id": "c75cf8d07e342c81",
        "type": "debug",
        "z": "df932c172bbbc3c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1431,
        "y": 434,
        "wires": []
    },
    {
        "id": "f2c278f53a626bd2",
        "type": "mqtt in",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-2/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1223,
        "y": 351,
        "wires": [
            [
                "a710f103559dc5d4",
                "af459fd57d6af5e5"
            ]
        ]
    },
    {
        "id": "a710f103559dc5d4",
        "type": "debug",
        "z": "df932c172bbbc3c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1420,
        "y": 318,
        "wires": []
    },
    {
        "id": "cd78384089692716",
        "type": "ui_switch",
        "z": "df932c172bbbc3c7",
        "name": "",
        "label": "Water pump",
        "tooltip": "",
        "group": "8358512e0101275b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1250,
        "y": 620,
        "wires": [
            [
                "41039e722cf4be71"
            ]
        ]
    },
    {
        "id": "9ab8ea895d73a025",
        "type": "ui_chart",
        "z": "df932c172bbbc3c7",
        "name": "",
        "group": "8358512e0101275b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature history",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#97df89",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1460,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6e322f98adfb150d",
        "type": "mqtt in",
        "z": "df932c172bbbc3c7",
        "name": "",
        "topic": "esp32-2/moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1190,
        "y": 160,
        "wires": [
            [
                "2213c001a2e269d4",
                "fce11778047c4a2b"
            ]
        ]
    },
    {
        "id": "1f5c89723135b74b",
        "type": "ui_text",
        "z": "df932c172bbbc3c7",
        "group": "8358512e0101275b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{value}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 1670,
        "y": 480,
        "wires": []
    },
    {
        "id": "af459fd57d6af5e5",
        "type": "ui_text",
        "z": "df932c172bbbc3c7",
        "group": "8358512e0101275b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air humidity",
        "format": "{{value}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1650,
        "y": 360,
        "wires": []
    },
    {
        "id": "2213c001a2e269d4",
        "type": "ui_text",
        "z": "df932c172bbbc3c7",
        "group": "8358512e0101275b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soil moisture",
        "format": "{{value}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1650,
        "y": 220,
        "wires": []
    },
    {
        "id": "fce11778047c4a2b",
        "type": "ui_chart",
        "z": "df932c172bbbc3c7",
        "name": "",
        "group": "8358512e0101275b",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Soil moisture history",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#3bd43d",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1440,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Plant 01",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8358512e0101275b",
        "type": "ui_group",
        "name": "Plant 02",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Gardening Station",
        "icon": "fa-pagelines",
        "disabled": false,
        "hidden": false
    }
]